[Unit]
Description=fdu network auto authentification service

[Service]
ExecStart=/bin/bash -c "/usr/bin/python3 /etc/fnaa/fdu_network_auto_auth.py"
WorkingDirectory=/etc/fnaa/
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
